@import "reset.css";
@import url('https://fonts.googleapis.com/css2?family=Rubik+Broken+Fax&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Doodle+Triangles&family=Rubik+Maps&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gasoek+One&family=Rubik+Doodle+Triangles&family=Rubik+Maps&display=swap');

.gmaeDisplay{
    width: 600px;
    height: 450px;
    background-color: brown;

    user-drag: none; 
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.gmaeDisplay img {
    position: absolute;
    width: 600px;
    height: 450px;
}

.startBtn {
    position: absolute;
    width: 600px;
    height: 450px;
    font-family: 'Rubik Doodle Triangles', 'Rubik Maps';
    font-size: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: azure;
    
}

.flag {
    width: 50px;
    height: 50px;
    background-color: #ffff00;
}

.evaluation {
    position: absolute;

    background-color: black;
    width: 600px;
    height: 450px;

    font-family: 'Rubik Doodle Triangles', 'Rubik Maps';
    font-size: 45px;
    color: antiquewhite;

    display: flex;
    justify-content: center;
    align-items: center;
}
.evaluation div {
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.evaluation img {
    width: 100px;
    height: 100px;
}

/* 'Rubik Doodle Triangles', 'Rubik Maps' */